* {
	box-sizing: border-box;
}

header nav a, .logo, .banner, main, aside, footer, div.sub-content {
	background: rgba(0,0,0,.2);
	border: 1px solid rgba(0,0,0,.4);
}

.wrapper {
	max-width: 980px;
	margin: 0 auto;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 5fr 1fr;
	height: 100vh;
	max-height: 750px;
	gap: 20px;
}

.main-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	gap: 20px;
}

header {
	display: grid;
	grid-template-columns: 250px 100px 1fr;
	align-items: center;
}

header .logo {
	align-self: stretch;
}

header nav {
	grid-column: 3 / 4;
	display: flex;
	height: 50px;
}

header nav a {
	display: inline-block;
	flex: 1 1 auto;
	margin-right: 10px;
}

header nav a:last-child {
	margin-right: 0;
}

aside.left-sidebar {
	grid-row: 1 / 4;
}

div.banner {
	grid-column: 2 / 6;
}

main {
	grid-column: 2 / 5;
	grid-row: 2 / 3;
}