* {
	box-sizing: border-box;
}

.wrapper {
	max-width: 980px;
	margin: 0 auto;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 3fr 2fr 1fr;
	height: 100vh;
	max-height: 750px;
	gap: 20px;
}

main, footer, div.sub-content, .logo, nav a {
	background: rgba(0,0,0,.2);
	border: 1px solid rgba(0,0,0,.4);
}

header, main, footer {
	grid-column-start: 1;
	grid-column-end: 4;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr 4fr;
	gap: 20px;
}

header nav {
	grid-column-start: 3;
	grid-column-end: 4;
	display: grid;
	align-self: center;
	height: 50px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
}

header nav a {
	display: inline-block;
}

